{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/home.css')}}">
{% endblock %}

{% block body %}

<!--  ********************************************* HEADER PART *********************************************** -->

    <header>
        <div class="hide"></div>
        <h1> HRA <br> CONCEPT </h1>
    </header>
    
<!--  ********************************************* MAIN PART *********************************************** -->

    <main>
        <div class="container">
            <div class="row">
            
<!-- ************************************************** LEFT PART *********************************************** -->
            
                <div class="col-lg-9" id="leftPart">
                    <h2>Présentation</h2>
                    <div class="container">
                    
                        <div class="row elements">
                            <div class="col-sm-4">
                                <img alt="Industriel" src="{{ asset('Images/industriel.jpg')}}">
                            </div>
                            <div class="col-sm-8">
                                <h3>Context Industriel</h3>
                                <p>Il  est  impératif  que  la  chaîne  microbienne  soit  respectée  dans  certains  secteurs d’activité. Le traitement de l’aire des surfaces devient alors une priorité pour éliminer tout risque bactériologique.</p>
                                <div class="button">
                                    <button class="btn btn-primary">Plus d'informations</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row elements">
                            <div class="col-sm-4">
                                <img alt="Besoins" src="{{ asset('Images/besoins.jpg')}}">
                            </div>
                            <div class="col-sm-8">
                                <h3>Les besoins</h3>
                                <p>Mettre en œuvre un traitement physique qui détruit efficacement les micro-organismes pathogènes. Maintenir voire améliorer les conditions sanitaires du personnel avec des moyens de moins en moins agressifs. Réduire les coûts d’exploitation et simplifier la maintenance</p>
                                <div class="button">
                                    <button class="btn btn-primary">Plus d'informations</button>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row elements">
                            <div class="col-sm-4">
                                <img alt="Solution" src="{{ asset('Images/solution.jpg')}}">
                            </div>
                            <div class="col-sm-8">
                                <h3>La solution</h3>
                                <p>Mettre en place des modules UV spécifiques adaptés aux caisses de camions. Le traitement par UV-C est considéré comme une des techniques de désinfection les plus efficaces. L’exposition au rayonnement UV-C endommage l’ADN des micro-organismes, ce qui entraîne leur destruction immédiate.</p>
                                <div class="button">
                                    <button class="btn btn-primary">Plus d'informations</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
<!-- ************************************************ RIGHT PART *********************************************** -->

                <div class="col-lg-3" id="rightPart">
                    <h2>Contact</h2>
                        <div class="contact" id="contact">
                            <div class="tips" style="background: url({{ asset('Images/Icones/telephone.svg')}})no-repeat 50% 50%">
                                <h5> Tel : 06 72 94 80 09</h5>
                            </div>
                            <div class="tips" style="background: url({{ asset('Images/Icones/geo-alt.svg')}})no-repeat 50% 50%">
                                <h5>Adresse :<br>Lieu dit Saint Pierre<br>47170-Occitanie<br>France</h5>
                            </div>
                            <div class="tips" style="background: url({{ asset('Images/Icones/at.svg')}})no-repeat 50% 50%">
                                <h5>Mail :<br>hra.conceptuvc.e@gmail.com</h5>
                            </div>
                        </div>
                        <div class="reseau">
                            <h5>Réseaux Sociaux</h5>
                            <a href="https://www.facebook.com/" class="tips"><img src="{{ asset('Images/Icones/facebook.svg')}}" alt="Facebook"></a>
                            <a href="https://www.instagram.com/" class="tips"><img src="{{ asset('Images/Icones/instagram.svg')}}" alt="Instagram"></a>
                            <a href="https://www.skype.com/" class="tips"><img src="{{ asset('Images/Icones/skype.svg')}}" alt="Skype"></a>
                            <a href="https://www.whatsapp.com/" class="tips"><img src="{{ asset('Images/Icones/whatsapp.svg')}}" alt="Whatsapp"></a>
                        </div>
                </div>
            </div>
        </div>
    </main>
    
<!-- ************************************************* ADD SCRIPT ************************************************ -->

    <script src="{{ asset('JS/Librairies/jquery-3.6.0.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('JS/script.js')}}"></script>

{% endblock %}