

{% block title %}

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('CSS/Admin/adminHome.css')}}">
{% endblock %}

{% block body %}
		
	<div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt="logohra" class="logohra">
        <br>
        <img src="{{ asset('Images/Icones/personnels.png')}}" alt="personnels" class="personnels"><a href="#">Personnels</a>
        <img src="{{ asset('Images/Icones/activites.png')}}" alt="activites" class="activites"><a href="#">Activités</a>
        <img src="{{ asset('Images/Icones/organisation.png')}}" alt="organisation" class="organisation"><a href="#">Organisation</a>
        <img src="{{ asset('Images/Icones/localisation.png')}}" alt="localisation" class="localisation"><a href="#">Localisation</a>
        <div class="footermenu">
        	<hr class="dividermenu">
            <img src="{{ asset('Images/Icones/settings.png')}}" alt="paramètres" class="parametres"><a href="#">Paramètres</a>
            <img src="{{ asset('Images/Icones/logout.png')}}" alt="se déconnecter" class="deconnexion"><a href="#">Se Déconnecter</a>
        </div>
	</div>

    <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776;</span>
    
<!-- ************************************************* ADD SCRIPT ************************************************ -->

	<script src="{{ asset('JS/adminHome.js')}}"></script>
    
{% endblock %}