<!DOCTYPE html>
<html lang="fr">
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('CSS/Librairies/bootstrap.css')}}">
        <link rel="stylesheet" href="{{ asset('CSS/base.css')}}">

        {% block javascripts %}
        {% endblock %}
        
    </head>
   
    <body>
    	<div id="main">
            {% block header %}
                <div id="mySidenav" class="sidenav">
                	<a href="javascript:void(0)" class="close-nav" onclick="closeNav()">&times;</a>
                    <a href="#"><img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt="logohra" class="logohra"></a>
                    <br>
                    {% if not app.user %}
                        <img src="{{ asset('Images/Icones/accueil.png')}}" alt="accueil" class="home"><a href="{{ path('home')}}" class="homeText">Accueil</a>
                        <img src="{{ asset('Images/Icones/login.png')}}" alt="connexion" class="login"><a href="{{ path('app_login')}}">Connexion</a>
                        <img src="{{ asset('Images/Icones/inscription.png')}}" alt="inscription" class="register"><a href="{{ path('app_register')}}">Inscription</a>
                        <img src="{{ asset('Images/Icones/contact.png')}}" alt="contact" class="contact"><a href="{{ path('contact')}}">Contact</a>
                    {% else %}
                    	<a href="#" class="user">{{app.user.firstName}} {{app.user.lastName}}</a>
                    	{% if is_granted('ROLE_ADMIN') %}
                        	<img src="{{ asset('Images/Icones/accueil.png')}}" alt="accueil" class="home"><a href="{{ path('adminHome')}}">Accueil</a>
                        {% else %}
                            <img src="{{ asset('Images/Icones/accueil.png')}}" alt="accueil" class="home"><a href="{{ path('userHome')}}">Accueil</a>
                        {% endif %}                	
                     	<div class="footermenu">
                        	<hr class="dividermenu">
                            <img src="{{ asset('Images/Icones/settings.png')}}" alt="paramètres" class="settings"><a href="{{ path('settings')}}">Paramètres</a>
    						<img src="{{ asset('Images/Icones/logout.png')}}" alt="déconnexion" class="logout"><a href="{{ path('app_logout')}}">Déconnexion</a>                
                        </div>
                    {% endif %}
                </div>
                <span class="open-nav" onclick="openNav()" id="openNav">&#9776;</span>
                <script src="{{ asset('JS/base.js')}}"></script>
    
                <!--  <nav class="navbar navbar-expand-sm bg-dark fixed-top">
                    <div class="collapse navbar-collapse">
                        <a href="{{ path('home')}}" class="nav-item"><img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt=""></a>
                        <a href="{{ path('home')}}" class="nav-item nav-link">Accueil</a>
                        <a href="{{ path('agenda')}}" class="nav-item nav-link">Agenda</a>
                        <a href="{{ path('contact')}}" class="nav-item nav-link">Contact</a>
                        <a href="{{ path('statistical')}}" class="nav-item nav-link">Statistiques</a>
                        <div id="search">
                            <div class="input-group">
                                <input type="email" class="form-control" placeholder="entrez votre recherche...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button">Rechercher</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide">
                        <div class="dropdown">
                        {% if not app.user %}
                            <button class="boutonmenuprincipal">Connexion/Inscription</button>
                            <div class="dropdown-list">
                                <a href="{{ path('app_login')}}" class="nav-item nav-link">S'identifier</a>
                                <a href="{{ path('app_register')}}" class="nav-item nav-link">Créer son compte</a>
                            </div>
                        {% else %}
                            <button class="boutonmenuprincipal">Compte</button>
                            <div class="dropdown-list">
                                <a href="" class="nav-item nav-link">{{app.user.email}}</a>
                                {% if is_granted('ROLE_ADMIN') %}
                                
                                {% endif %}
                                <a href="{{ path('app_register')}}" class="nav-item nav-link">Créer son compte</a>
                            </div>
                        {% endif %}
                        </div>
                    </div>
                </nav>-->
            {% endblock %}       
    
            {% block body %}        
            {% endblock %}
		</div>
<!-- ************************************************* FOOTER ************************************************ -->
        {% block footer %}
        
            <footer class="footer-distributed"> 
            
                <div class="footer-left" id="footerLeft">	
					<h3>hra Concept<br><span>UVc & e</span> </h3>
                    <p class="footer-links">
                        <a href="/">Accueil</a>
                        ·
                        <a href="/contact">Contact</a>
                        ·
                        <a href="#">À propos</a>
                    </p>
                    <p class="footer-company-name">hra Concept &copy; 2019-2021<br>Lycée Antoine Bourdelle &copy; 2021</p>
				</div>
                       
				<div class="footer-center" id="footerCenter">
                    <div>
                        <p>
                            <span>Lieu dit Saint Pierre</span> 47170, Occitanie, France
						</p>
                    </div>
                     
                    <div>
                        <p>
                        	<a href="tel: +33672948009">06 72 94 80 09</a>
                        	<br>
                       	</p>
                    </div>
                    
                    <div>
                        <p>
                        	<a href="mailto:support@company.com">hra.conceptuvc.e@gmail.com</a>
                       	</p>
                    </div>  
				</div>
                       
                <div class="footer-right" id="footerRight">
                    <p class="footer-company-about"> <span> About the company </span> hra Concept UVc & e </p>
                </div>
                
			</footer>
			
	    {% endblock %}
	    
	</body>
</html>
