<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('CSS/base.css')}}">
        <link rel="stylesheet" href="{{ asset('CSS/Librairies/bootstrap.css')}}">

    </head>
    <body>
        {% block header %}
        	<div id="mySidenav" class="sidenav">
            	<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt="logohra" class="logohra">
                <br>
                <img src="{{ asset('Images/Icones/personnels.png')}}" alt="personnels" class="personnels"><a href="#">Personnels</a>
                <img src="{{ asset('Images/Icones/activites.png')}}" alt="activites" class="activites"><a href="#">Activités</a>
                <img src="{{ asset('Images/Icones/organisation.png')}}" alt="organisation" class="organisation"><a href="#">Organisation</a>
                <img src="{{ asset('Images/Icones/localisation.png')}}" alt="localisation" class="localisation"><a href="#">Localisation</a>
                <div class="footermenu">
                	<hr class="dividermenu">
                    <img src="{{ asset('Images/Icones/settings.png')}}" alt="paramètres" class="parametres"><a href="#">Paramètres</a>
                	<img src="{{ asset('Images/Icones/logout.png')}}" alt="se déconnecter" class="deconnexion"><a href="#">Se Déconnecter</a>
                </div>
            </div>
            <span style="font-size:30px; cursor:pointer" onclick="openNav()">&#9776;</span>

<!-- ************************************************* ADD SCRIPT ************************************************ -->

        	<script src="{{ asset('JS/base.js')}}"></script>
        	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>

            <!--  <nav class="navbar navbar-expand-sm bg-dark fixed-top">
                <div class="collapse navbar-collapse">
                    <a href="{{ path('home')}}" class="nav-item"><img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt=""></a>
                    <a href="{{ path('home')}}" class="nav-item nav-link">Accueil</a>
                    <a href="{{ path('agenda')}}" class="nav-item nav-link">Agenda</a>
                    <a href="{{ path('contact')}}" class="nav-item nav-link">Contact</a>
                    <a href="{{ path('statistiques')}}" class="nav-item nav-link">Statistiques</a>
                    <div id="search">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="entrez votre recherche...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">Rechercher</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide">
                    <div class="dropdown">
                    {% if not app.user %}
                        <button class="boutonmenuprincipal">Connexion/Inscription</button>
                        <div class="dropdown-list">
                            <a href="{{ path('app_login')}}" class="nav-item nav-link">S'identifier</a>
                            <a href="{{ path('app_register')}}" class="nav-item nav-link">Créer son compte</a>
                        </div>
                    {% else %}
                        <button class="boutonmenuprincipal">Compte</button>
                        <div class="dropdown-list">
                            <a href="" class="nav-item nav-link">{{app.user.email}}</a>
                            {% if is_granted('ROLE_ADMIN') %}
                            
                            {% endif %}
                            <a href="{{ path('app_register')}}" class="nav-item nav-link">Créer son compte</a>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </nav>-->
        {% endblock %}       

        {% block body %}
        {% endblock %}

<!-- ************************************************* FOOTER ************************************************ -->
        {% block footer %}

            <footer> 
                <div class="footer element">
                    <a href="https://bourdelle.mon-ent-occitanie.fr/" class="nav-item"><img src="{{ asset('Images/logoLyceeBourdelle.jpg')}}" alt="logoLyceeBourdelle"></a>
                </div>
                <p>from Lycée Antoine Bourdelle 2021 ©</p>
            </footer>
            
        {% endblock %}
        
    </body>
</html>
