<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width-device-width,initial-scale-1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        {% block stylesheets %}
        {% endblock %}

        <link rel="stylesheet" href="{{ asset('CSS/base.css')}}">
        <link rel="stylesheet" href="{{ asset('CSS/Librairies/bootstrap.css')}}">

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
            <nav class="navbar navbar-expand-sm bg-dark fixed-top">
                <div class="collapse navbar-collapse">
                    <a href="{{ path('home')}}" class="nav-item"><img src="{{ asset('Images/logoHRAConcept.PNG')}}" alt=""></a>
                    <a href="{{ path('home')}}" class="nav-item nav-link">Accueil</a>
                    <a href="{{ path('agenda')}}" class="nav-item nav-link">Agenda</a>
                    <a href="{{ path('contact')}}" class="nav-item nav-link">Contact</a>
                    <a href="{{ path('statistiques')}}" class="nav-item nav-link">Statistiques</a>
                    <div id="search">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="entrez votre recherche...">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">Rechercher</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hide">
                    <div class="dropdown">
                        <button class="boutonmenuprincipal">Connexion/Inscription</button>
                        <div class="dropdown-list">
                            <a href="{{ path('connexion')}}" class="nav-item nav-link">S'identifier</a>
                            <a href="{{ path('inscription')}}" class="nav-item nav-link">Créer son compte</a>
                        </div>
                    </div>
                </div>
            </nav>
        {% endblock %}       

        {% block body %}
        {% endblock %}

<!-- ************************************************* FOOTER ************************************************ -->
        {% block footer %}

            <footer> 
                <div class="footer element">
                    <a href="https://bourdelle.mon-ent-occitanie.fr/" class="nav-item"><img src="{{ asset('Images/logoLyceeBourdelle.jpg')}}" alt="logoLyceeBourdelle"></a>
                </div>
                <p>from Lycée Antoine Bourdelle 2021 ©</p>
            </footer>
            {% endblock %}
        
    </body>
</html>
